{% extends 'layouts/main.html.twig' %}
{% block content %}
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for _ in todayAttendance %}
                {% if loop.first %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    <div class="fill"></div>
                    <div class="carousel-caption">
                        <h2>
                            {{ todayAttendance[loop.index0].cohort_name }}
                        </h2>
                        <h3
                            id="students-count-{{ todayAttendance[loop.index0].bootcamp_id }}"
                            data-count="{{ todayAttendance[loop.index0].students_count }}"
                        >
                            <i class="fa fa-street-view fa-2"></i>
                            {{ todayAttendance[loop.index0].students_count }} students
                        </h3>
                        <ul class="stats">
                            <li
                                id="today-percentage-{{ todayAttendance[loop.index0].bootcamp_id }}"
                                data-percentage="{{ todayAttendance[loop.index0].present_students_count|number_format(2) }}"
                            >
                                <i class="fa fa-calendar-plus-o fa-2"></i>
                                Today's attendance
                                <strong>
                                    {{ percentage(
                                            todayAttendance[loop.index0].present_students_count,
                                            todayAttendance[loop.index0].students_count
                                        )
                                        |number_format(2)
                                    }}%
                                </strong>
                            </li>
                            <li
                                id="on-time-today-{{ todayAttendance[loop.index0].bootcamp_id }}"
                                data-percentage="{{ attendanceOnTime[loop.index0].on_time_students_count|number_format(2) }}"
                            >
                                <i class="fa fa-calendar-check-o fa-2"></i>
                                On-time today
                                <strong>
                                    {{ percentage(
                                            attendanceOnTime[loop.index0].on_time_students_count,
                                            todayAttendance[loop.index0].students_count
                                        )
                                        |number_format(2)
                                    }}%
                                </strong>
                            </li>
                            <li
                                id="perfect-attendance-{{ todayAttendance[loop.index0].bootcamp_id }}"
                                data-count="{{ daysWithPerfectAttendance[loop.index0].days_with_perfect_attendance|number_format(0) }}"
                            >
                                <i class="fa fa-star fa-2"></i>
                                Days with 100% attendance
                                <strong>
                                    {{ daysWithPerfectAttendance[loop.index0].days_with_perfect_attendance|number_format(0) }}
                                </strong>
                            </li>
                        </ul>
                        <br><br>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" role="button">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock %}
{% block scripts %}
    <script src="/scripts/events.js"></script>
{% endblock %}
{% block styles %}
    <link href="/styles/full-slider.css" rel="stylesheet">
{% endblock %}
